<div class="Header">
    <img src="/Images/meralcobill.png" alt="" />
    <h1>Am9 Electricity Billing</h1>
    <img src="/Images/am9commercial.jpg" alt="" />
  </div>
  <div class="body">
    <div class="subject">
      <div class="information">
        <p>Name: <span class="Name"></span></p>
        <p>Building and Stall No.: <span class="Building"></span></p>
      </div>
      <div class="due_kwh">
        <p>Due Date: <span class="DueDate"></span></p>
        <p>Per Kwh: <span class="PerKwh"></span></p>
      </div>
    </div>
    <div class="billing">
      <div class="reading">
        <p>Date of Reading: <span class="DateOfReading"></span></p>
        <p>Previous Reading: <span class="PreviousReading"></span></p>
        <p>Current Reading: <span class="CurrentReading"></span></p>
        <p>Consume: <span class="Consume"></span></p>
      </div>
      <div class="amount">
        <p>Total Amount: PHP <span class="TotalAmount"></span></p>
      </div>
    </div>
    <div class="sign">
      <p>Date Paid:</p>
      <p>Staff Signature and name:</p>
    </div>
  </div>