   <!-- 
        User Roles
        Admin == 1
        Staff == 2
        User == 3
    -->
        
<div class="navs" style="z-index: 99;">
    <img src="/Images/am9commercial.jpg" alt="Am9 Commercial">
    <% if(mainUser.role_id === 1) { %> <!-- Admin navbar -->
    <ul>
        <a class="a" href="/dashboard?view=user"><li>User</li></a>
        <a class="a" href="/dashboard?view=tenant"><li>Tenant</li></a>
        <a class="a" href="/dashboard?view=meralco"><li>Meralco</li></a>
        <a class="a" href="/dashboard?view=maynilad"><li>Maynilad</li></a>
        <a class="a" href="/dashboard?view=payment"><li>Payment</li></a>
        <!-- <a class="a" id="utilityToggle">Utility</a>
        <ul id="utilitySubMenu"></ul> -->
        <a class="a" href="/logout" id="logout"><li>Logout</li></a>
    </ul>
    <% } else { %> <!-- Staff navbar -->
    <ul>
        <% if(mainUser.view_user === 1) { %>
        <a class="a" href="/dashboard?view=user"><li>User</li></a>
        <%} else if (mainUser.view_tenant === 1){ %>
        <a class="a" href="/dashboard?view=tenant"><li>Tenant</li></a>
        <%} else if (mainUser.view_utility === 1){ %>
        <a class="a" href="/dashboard?view=meralco"><li>Meralco</li></a>
        <a class="a" href="/dashboard?view=maynilad"><li>Maynilad</li></a>
        <%} else if (mainUser.view_payment === 1){ %>
        <a class="a" href="/dashboard?view=payment"><li>Payment</li></a>
        <%} %>
        <a class="a" href="/logout" id="logout"><li>Logout</li></a>
    </ul>
    <% }  %>
</div>


<!-- <script>
    document.getElementById('utilityToggle').addEventListener('click', function(e) {
        var subMenu = document.getElementById('utilitySubMenu');
        if (subMenu.style.display === 'none') {
            subMenu.style.display = 'block';
        } else {
            subMenu.style.display = 'none';
        }
    });
</script> -->