<nav>
    <!-- 
        User Roles
        Admin == 1
        Staff == 2
        User == 3
    -->
    <% if(user.role_id === 1) { %>
    <ul>
        <li><a href="/Dashboard">Home</a></li>
        <li><a href="/tenant_list">Tenant_List</a></li>
        <li><a href="/">Contact</a></li>
    </ul>
    <% } else if(user.role_id === 2) { %>
    <ul>
        <li><a href="/Dashboard">Home</a></li>
        <li><a href="/tenant_list">Tenant_List</a></li>
        <li><a href="/">Contact</a></li>
    </ul>
    <% } else if(user.role_id === 3) { %>
    <ul>
        <li><a href="/Dashboard">Home</a></li>
        <li><a href="/tenant_list">Tenant_List</a></li>
        <li><a href="/">Contact</a></li>
    </ul>
    <% } %>
</nav>
