<% if (view === 'user') { %>
  <h1>USER</h1>
  
  <% if(mainUser.add_user === 1){ %> 
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addUserModal">ADD USER</button>
  <% } %>
 
  <%- include('add-modal') %>

<% } else if (view === 'tenant') { %>
  <h1>TENANTS</h1>

  <% if(mainUser.add_tenant === 1){ %>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addtenantModal">ADD TENANT</button>
  <% } %>

  <%- include('add-modal') %>

<% } else if (view === 'rent') { %>
  <h1>RENTS</h1>

<% } else if (view === 'meralco') { %>
  <h1>MERALCO</h1>

  <% if(mainUser.view_utility === 1){ %>
    <div>
      <% if(mainUser.add_utility === 1){ %>
      <a href="/dashboard/meralco/add-meralco" class="btn btn-primary">ADD MERALCO</a>
      <% } %>
      <a href="/dashboard/meralco/print-meralco" class="btn btn-primary">PRINT</a>
    </div>
  <% } %>

<% } else if (view === 'maynilad') { %>
<h1>MAYNILAD</h1>

<% } else if (view === 'payment') { %>   
  <h1>PAYMENTS</h1>

  <% if(mainUser.view_payment === 1){ %>
    <a href="/dashboard/payment/add-payment" class="btn btn-primary">Payments</a>
  <% } %>

<% } %>

