<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Am9 Commercial Conversion</title>
    <link rel="stylesheet" href="../css/index-style.css" />

    <!-- JSPDF CONVERTER -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>

    <!-- HTML2PDF LIBRARY -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.js"></script>
  </head>
  <body>
    <form action="/login" method="POST">
      <label for="username">Username: </label>
      <input type="text" id="username" name="username">
      <label for="password">Password: </label>
      <input type="password" id="password" name="password">
      <input type="checkbox" name="remember_me" id="remember_me">
      <input type="submit" value="Login">
  </form>
  </body>
</html>
