<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      .container_login_form {
        position: absolute;
        inset: 0;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      .container_login {
        background-image: url("../Images/bg.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
        margin: 0; /* Remove default margin */
        clip-path: polygon(100% 100%, 0 100%, 100% 0);

        position: absolute;
        inset: 0px;
        z-index: -10;
      }

      .Am9_Logo {
        width: 200px;
        height: 100px;
        mix-blend-mode: multiply;
        object-fit: cover;
      }

    </style>
  </head>
  <%- include('./components/header') %>
  <body>
    <div class="container_login">
    </div>
    <div class="container_login_form">
      <img src="../Images/am9commercial.jpg" class="Am9_Logo" alt="">
      <br><br>
      <form action="/login" method="POST">
        <div class="rounded border p-4 d-flex flex-column gap-4 bg-white">
          <h1 class="text-center">Login</h1>
  
          <div class="d-flex flex-column gap-3">
            <div class="">
              <label for="username" class="form-label">Username: </label>
              <input class="form-control" type="text" id="username" name="username">
            </div>
            <div class="">
              <label for="password" class="form-label">Password: </label>
              <input class="form-control" type="password" id="password" name="password">
            </div>
            <div class="">
              <input type="checkbox" class="form-check-input" name="remember_me" id="remember_me"><label for="remember_me" class="form-check-label ms-2">Remember me</label>
            </div>
          </div>
  
          <input type="submit" id="submit_login" class="btn btn-primary" value="Login">
        </div>
      </form>
    </div>
    
  </body>
</html>
