
:root {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
::-webkit-scrollbar {
  background-color: transparent;
  
}
::-webkit-scrollbar-thumb {
  background-color: #374151; 
  border-radius: 25px;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
} 
input[type="number"] {
    -moz-appearance: textfield;
}
.form_image {
  display: flex;
  flex-direction: column;
}
.form_image > div {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.form_image > div > div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.form-control:read-only {
  background-color: #374151;
  &:focus {
    background-color: #60718d;
  }
}
html {
  background-color: #64748B;
}
.main {
  display: flex;
  background-color: #64748B;
}
.logo {
    border-radius: 50%;
    width: 150px;
    height: 100px;
    padding: 20px;
}
.navs {
  background-color: #374151;
  border-radius: 15px;
  height: 97vh;
  position: fixed;
  user-select: none;
  width: 150px;
  margin: 10px;

  img {
    border-radius: 50%;
    width: 150px;
    height: 110px;
    padding: 20px;

    object-fit: cover;

    mix-blend-mode: darken;
  }
  ul {
    padding: 0px;
    display: flex;
    flex-direction: column;
    ul {
      display: none;
      li {
        padding-block: 5px;
        background-color: rgb(54, 109, 181);
        
      }
    }
    .a {
    list-style-type: none;
    text-decoration: none;
    color: white;
    border-bottom: 1px solid white;
    padding-block: 15px;
    text-align: center;
    transition: background-color ease 0.5s;
      &:hover {
        background-color: rgba(54, 109, 181, 0.5);
      }
      &:last-child {
        border-bottom: none;
      }
    }     
  }
}
.sub-section {
  width: 100%;
  margin-top: 10px;
  margin-right: 15px;
  margin-left: 180px;
}
.main-section {
  width: 100%;
  overflow: hidden;
}
/* custom bootstrap */
.bg-brand {
  background-color: #374151;
  &:focus {
    background-color: #60718d;
  }
}
