.button {
  background-color: rgba(19, 121, 218, 0.685);
  border: transparent;
  padding: 10px 20px;
  border-radius: 5px;

  color: white;
  margin-inline: 20px;
}
.red {
  background-color: rgb(245, 132, 132);
}
.green {
  background-color: rgb(129, 197, 129);
}
.body {
  margin-top: 20px;
  background-color: skyblue;
  border-radius: 5px;
  padding-bottom: 10px;

  display: flex;
  justify-content: center;
  flex-direction: column;
}
.Header {
  display: flex;
  justify-content: space-between;
}
.Header > img {
  height: 70px;
  width: 100px;
  object-fit: cover;
  object-position: top;
}
.subject {
  display: flex;
  justify-content: center;
}
.information {
  border-radius: 5px;
  background-color: white;
  margin: 10px;
  padding-inline: 10px;
  width: 50%;
}
.due_kwh {
  border-radius: 5px;
  background-color: white;
  margin: 10px;
  padding-inline: 10px;
  width: 50%;
}
.billing {
  display: flex;
  justify-content: center;
}
.reading {
  border-radius: 5px;
  background-color: white;
  margin: 10px;
  padding-inline: 10px;
  width: 50%;
}
.amount {
  border-radius: 5px;
  background-color: white;
  margin: 10px;
  padding-inline: 10px;
  width: 50%;
}
.sign {
  background-color: white;
  border-radius: 5px;
  padding: 5px 20px;
  margin: 10px;
}
.select {
  margin: 10px;
  text-align: center;
}
.select button {
  margin: 10px;
}
.design-select {
  appearance: none;
  height: 30px;
  border-radius: 5px;
  width: 150px;
  padding-inline: 5px;
}
.design-select:focus {
  outline: none;
}
.update-section,
.add-section,
.update-section-tenant {
  display: none;
}
.add-content,
.update-content,
.update-content-tenant,
.history-content {
  background-color: rgb(226, 216, 216);
  padding-block: 30px;
  border-radius: 5px;

  display: flex;
  flex-direction: column;
}
.add-Information input,
.update-Information input,
.update-Information-tenant input,
.add-Due-kwh input,
.update-Due-kwh input,
.add-Billing input,
.update-Billing input,
.update-Totalamount input,
.add-Totalamount input {
  width: 40%;
  height: 20px;
  border: none;
  border-radius: 3px;
  margin-block: 5px;
}
.add-Information label,
.update-Information label,
.update-Information-tenant label,
.add-Due-kwh label,
.update-Due-kwh label,
.add-Billing label,
.update-Billing label,
.update-Totalamount label,
.add-Totalamount label {
  width: 40%;
  height: 20px;
  border: none;
  border-radius: 3px;
}
.add-Information,
.add-Due-kwh,
.add-Billing,
.add-Totalamount,
.update-Information,
.update-Information-tenant,
.update-Due-kwh,
.update-Billing,
.update-Totalamount {
  margin: 15px;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.history-content {
  display: flex;
  flex-direction: column;
}
.body-history {
  display: flex;
}
.history {
  background-color: rgba(19, 121, 218, 0.685);
  border-radius: 5px;

  margin: 20px;

  display: flex;
  flex-direction: column;
  padding: 5px;
}
.history_of_tenant {
  display: flex;
  justify-content: space-around;
}
.history_of_reading {
  margin: 10px;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
}
.history-section {
  display: none;
}
.body-history {
  display: flex;
  margin-inline: 50px;
  justify-content: stretch;
}
.body-history p {
  width: 40%;
}


/* Navbar */
