<!DOCTYPE html>
<html lang="en">
<%- include('../components/header') %>
<body>
    <div class="main">
        <%- include('../components/navbar') %>
        <div class="sub-section overflow-auto">
            
        </div>
    </div>
</body>
</html>
 